

.textured {
    background-image: url("../images/ui/gravel.png");
    background-repeat: repeat;
}
.textured-dark {
    background-image: url("../images/ui/gravel-dark.png");
    background-repeat: repeat;
}

.nav-link:hover {
    background-color: rgba(186, 186, 186, 0.5);
    text-decoration: underline;
}
.nav-link {
    border-bottom: 1px rgb(186, 186, 186) dotted;
    padding: 1em 3em;
    display: block;
    width: 100%;
    font-weight: 600;
}

.h-56-25 {
    max-height: 228rem;
}


.footer-title {
    font-weight: bold;
    color: rgb(92, 96, 100);
    margin-bottom: 1em;
}
.footer-list {
    display:flex;
    flex-direction: column;
    gap: 0.5em;
}
.footer-list li {
    font-weight: 300;
}
.footer-list a:hover {
    text-decoration: underline;
}

#hero-image {
    background-image: linear-gradient(
        rgba(0,0,0,0%) 85%,
        rgba(12, 12, 12, 60%) 92%,
        rgba(12, 12, 12) 98%
    ), url("/images/gallery/banner.jpg");
    background-position: 33% 0%;
}

.polaroid {
    background-color: white;
    border: outset white;
    border-radius: 3px;
    box-shadow: 0 4px 6px;
    padding:16px;
    margin-top: 16px;

}



.form input,form textarea {
    border: 1px solid rgba(200, 200,200);
    background-color: none;
    margin: 0.5em 0;
    width: 100%;
    padding: 4px 8px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/ui/gravel.png");
    background-repeat: repeat;
}
.form input:focus,form textarea:focus {
    border:1px black solid
}
.form textarea {
    height: 10em;
}
.form label {
    color:darkslategray
}

.gallery-img {
    height: auto;
    width: 250px;
    border: 3px solid;
    cursor: pointer;
    margin-bottom: 2rem;
}

#overlay { 
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,50%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
}
#x {
    position: absolute;
    top:0;
    right:0;
    height: 50px;
    width:50px;
    display: block;
    margin-top: 5rem;
    margin-right: 2rem;
}


.tarief-card {
    padding: 2rem;
    border-radius: 5px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.text-card h2 {
    font-weight: 700;
    font-size: large;
}
.tarief-card > h2{
    font-weight: bold;
    font-size: x-large;
}
.tarief-card > h3 {
    color: rgb(185, 7, 43);
    font-weight: 600;
    text-align: center;
    background-color: rgba(90, 88, 88, 0.137);
    padding: 4px 0;
    border-radius: 4px;
    margin-top: auto;
}