html {
    font-family: "Montserrat", sans-serif;
}

.textured {
    background-image: url("../images/ui/gravel.png");
    background-repeat: repeat;
}
.textured-dark {
    background-image: url("../images/ui/gravel-dark.png");
    background-repeat: repeat;
}

.nav-link:hover {
    background-color: rgba(186, 186, 186, 0.5);
    text-decoration: underline;
}
.nav-link {
    border-bottom: 1px rgb(186, 186, 186) dotted;
    padding: 1em 3em;
    display: block;
    width: 100%;
    font-weight: 600;
}

.h-56-25 {
    max-height: 228rem;
}


.footer-title {
    font-weight: bold;
    color: rgb(92, 96, 100);
    margin-bottom: 1em;
}
.footer-list {
    display:flex;
    flex-direction: column;
    gap: 0.5em;
}
.footer-list li {
    font-weight: 300;
}
.footer-list a:hover {
    text-decoration: underline;
}

#hero-image {
    background-image: linear-gradient(
        rgba(0,0,0,0%) 85%,
        rgba(12, 12, 12, 60%) 92%,
        rgba(12, 12, 12) 98%
    ), url("https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg")
}

.polaroid {
    background-color: white;
    border: outset white;
    border-radius: 3px;
    box-shadow: 0 4px 6px;
}


.form input,form textarea {
    border: 1px solid rgba(200, 200,200);
    background-color: none;
    margin: 0.5em 0;
    width: 100%;
    padding: 4px 8px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/ui/gravel.png");
    background-repeat: repeat;
}
.form input:focus,form textarea:focus {
    border:1px black solid
}
.form textarea {
    height: 10em;
}
.form label {
    color:darkslategray
}


.gallery-img {
    height: 250px;
    width: 250px;
    border: 3px solid
}