.textured {
    background-image: url("../images/page/gravel.png");
    background-repeat: repeat;
}

.nav-link:hover {
    background-color: rgba(186, 186, 186, 0.5);
    text-decoration: underline;
}
.nav-link {
    border-bottom: 1px rgb(186, 186, 186) dotted;
    padding: 1em 3em;
    display: block;
    width: 100%;
    font-weight: 600;
}

.h-56-25 {
    max-height: 228rem;
}
